h1, h3 {
	text-align: center;
}

body, .anchored { padding-top: 70px; }

.small_text {
	font-size: 15px;
}

.mydropdown {
	width: 100%;
	margin: 10px;
}

.page_section {
	margin: 100px auto 100px auto
}

.required-field::after {
    content: "*";
    color: red;
}